@model PagedList.IPagedList<English_Learning_Website.Models.StoryBonus>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "ListStory";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm("ListStory", "Story", FormMethod.Post))
{
    <br />
    <div>
        @Html.ActionLink("Create New", "CreateS", "Story", new { @class = "btn btn-default" })
        <input type="submit" value="Go" class="btn btn-primary pull-right" style="width:50px;" />
        <input type="text" id="searchStory1" name="searchStory1" class="form-control pull-right" placeholder="Type keyword to search ..." value="@Session["searchStory1"]" required />
        <label class="pull-right"> | </label>
        <select id="sortStory1" name="sortStory1" class="form-control center-block pull-right" style="width:10%;max-width:10%;">
            <option for="sortStory1" id="sortStory1" name="sortStory1" value="@Session["sortStory1"]">@Session["sortStory1"]</option>
            <option for="sortStory1" id="sortStory1" name="sortStory1" value="None">None</option>
            <option for="sortStory1" id="sortStory1" name="sortStory1" value="AZ">A - Z</option>
            <option for="sortStory1" id="sortStory1" name="sortStory1" value="ZA">Z - A</option>
            <option for="sortStory1" id="sortStory1" name="sortStory1" value="View">View</option>
        </select>
        <label class="pull-right">Sort by : </label>
    </div>
    <br />
    <hr />
    <table class="table-hover table table-responsive tr">
        <caption class="caption">Story List</caption>
        <tr>
            <th>Number</th>
            <th>Story Image</th>
            <th>Story Name</th>
            <th>Admin Post</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="search-list">
                <td>@item.Story_Code</td>
                <td><img src="~/Content/images/@item.Story_image" style="width:50px;height:50px;" /></td>
                <td>@item.Story_Name</td>
                <td>@item.Userz_FullName</td>
                <td>
                    @Html.ActionLink("Edit", "EditS", new { id = item.Story_Code }) |
                    @Html.ActionLink("Detail", "DetailS", new { id = item.Story_Code }) |
                    @Html.ActionLink("Delete", "DeleteS", new { id = item.Story_Code })
                </td>
            </tr>

        }
    </table>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <div>
        <div>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
        </div>
        <div>
            @if (Session["searchStory1"] != null)
            {
                @Html.PagedListPager(Model, page => Url.Action("ListStory", new { page = page, searchStory1 = Session["searchStory1"], sortStory1 = Session["sortStory1"] }))
            }
            else
            {
                @Html.PagedListPager(Model, page => Url.Action("ListStory", new { page = page }))
            }
        </div>
    </div>
}
