@model IEnumerable<English_Learning_Website.Models.Question>
@using English_Learning_Website.Models;
@{
    ViewBag.Title = "Do_Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<Question> questions2 = Session["questions2"] as List<Question>;
    List<Question> questions3 = Session["questions3"] as List<Question>;
    List<Question> questions4 = Session["questions4"] as List<Question>;
    List<Question> questions5 = Session["questions5"] as List<Question>;
}
@using (Html.BeginForm("Do_Test", "Test", FormMethod.Post))
{
    <div class="mydiv" style="width:100%;max-width:100%;">

        <p>Question 1 : @questions2[0].Question_Content</p>
        <p><input type="radio" name="choice1" id="choice1" value="@questions2[0].Answer_Content1" /> @questions2[0].Answer_Content1</p>
        <p><input type="radio" name="choice1" id="choice1" value="@questions2[0].Answer_Content2" /> @questions2[0].Answer_Content2</p>
        <p><input type="radio" name="choice1" id="choice1" value="@questions2[0].Answer_Content3" /> @questions2[0].Answer_Content3</p>
        <p><input type="radio" name="choice1" id="choice1" value="@questions2[0].Answer_Content4" /> @questions2[0].Answer_Content4</p>

    </div>


    <div class="mydiv" style="width:100%;max-width:100%;">

        <p>Question 2 : @questions2[1].Question_Content</p>
        <p><input type="radio" name="choice2" id="choice2" value="@questions2[1].Answer_Content1" /> @questions2[1].Answer_Content1</p>
        <p><input type="radio" name="choice2" id="choice2" value="@questions2[1].Answer_Content2" /> @questions2[1].Answer_Content2</p>
        <p><input type="radio" name="choice2" id="choice2" value="@questions2[1].Answer_Content3" /> @questions2[1].Answer_Content3</p>
        <p><input type="radio" name="choice2" id="choice2" value="@questions2[1].Answer_Content4" /> @questions2[1].Answer_Content4</p>

    </div>

    <div class="mydiv" style="width:100%;max-width:100%;">

        <p>Question 3 : @questions2[2].Question_Content</p>
        <p><input type="radio" name="choice3" id="choice3" value="@questions2[2].Answer_Content1" /> @questions2[2].Answer_Content1</p>
        <p><input type="radio" name="choice3" id="choice3" value="@questions2[2].Answer_Content2" /> @questions2[2].Answer_Content2</p>
        <p><input type="radio" name="choice3" id="choice3" value="@questions2[2].Answer_Content3" /> @questions2[2].Answer_Content3</p>
        <p><input type="radio" name="choice3" id="choice3" value="@questions2[2].Answer_Content4" /> @questions2[2].Answer_Content4</p>

    </div>


    <div class="mydiv" style="width:100%;max-width:100%;">
        <p>Question 4 : @questions3[0].Question_Content</p>
        <p>Enter answer : <input type="text" name="text1" id="text1" style="width:100px;" /></p>
    </div>

    <div class="mydiv" style="width:100%;max-width:100%;">
        <p>Question 5 : @questions3[1].Question_Content</p>
        <p>Enter answer : <input type="text" name="text2" id="text2" style="width:100px;" /></p>
    </div>

    <div class="mydiv" style="width:100%;max-width:100%;">
        <p>Question 6 : @questions3[2].Question_Content</p>
        <p>Enter answer : <input type="text" name="text2" id="text2" style="width:100px;" /></p>
    </div>

    <div class="mydiv" style="width:100%;max-width:100%;">
        <pre id="question_paragraph" style="text-align:center;">

        </pre>
    </div>

    <div class="mydiv" style="width:100%;max-width:100%;">

        <p>Question 7 : @questions4[0].Question_Content</p>
        <p><input type="radio" name="choice4" id="choice4" value="@questions4[0].Answer_Content1" /> @questions4[0].Answer_Content1</p>
        <p><input type="radio" name="choice4" id="choice4" value="@questions4[0].Answer_Content2" /> @questions4[0].Answer_Content2</p>
        <p><input type="radio" name="choice4" id="choice4" value="@questions4[0].Answer_Content3" /> @questions4[0].Answer_Content3</p>
        <p><input type="radio" name="choice4" id="choice4" value="@questions4[0].Answer_Content4" /> @questions4[0].Answer_Content4</p>
    </div>

    <div class="mydiv" style="width:100%;max-width:100%;">

        <p>Question 8 : @questions4[1].Question_Content</p>
        <p><input type="radio" name="choice5" id="choice5" value="@questions4[1].Answer_Content1" /> @questions4[1].Answer_Content1</p>
        <p><input type="radio" name="choice5" id="choice5" value="@questions4[1].Answer_Content2" /> @questions4[1].Answer_Content2</p>
        <p><input type="radio" name="choice5" id="choice5" value="@questions4[1].Answer_Content3" /> @questions4[1].Answer_Content3</p>
        <p><input type="radio" name="choice5" id="choice5" value="@questions4[1].Answer_Content4" /> @questions4[1].Answer_Content4</p>

    </div>

    <div class="mydiv" style="width:100%;max-width:100%;;">
        <video style="width:100%;height:70vh;" controls>
            <source src="~/Content/video/@Session["video"]" type="video/mp4" />
        </video>
    </div>

    <div class="mydiv" style="width:100%;max-width:100%;">

        <p>Question 9 : @questions5[0].Question_Content</p>
        <p><input type="radio" name="choice6" id="choice6" value="@questions5[0].Answer_Content1" /> @questions5[0].Answer_Content1</p>
        <p><input type="radio" name="choice6" id="choice6" value="@questions5[0].Answer_Content2" /> @questions5[0].Answer_Content2</p>
        <p><input type="radio" name="choice6" id="choice6" value="@questions5[0].Answer_Content3" /> @questions5[0].Answer_Content3</p>
        <p><input type="radio" name="choice6" id="choice6" value="@questions5[0].Answer_Content4" /> @questions5[0].Answer_Content4</p>

    </div>

    <div class="mydiv" style="width:100%;max-width:100%;">

        <p>Question 10 : @questions5[1].Question_Content</p>
        <p><input type="radio" name="choice7" id="choice7" value="@questions5[1].Answer_Content1" /> @questions5[1].Answer_Content1</p>
        <p><input type="radio" name="choice7" id="choice7" value="@questions5[1].Answer_Content2" /> @questions5[1].Answer_Content2</p>
        <p><input type="radio" name="choice7" id="choice7" value="@questions5[1].Answer_Content3" /> @questions5[1].Answer_Content3</p>
        <p><input type="radio" name="choice7" id="choice7" value="@questions5[1].Answer_Content4" /> @questions5[1].Answer_Content4</p>

    </div>
    <br />
    <input type="submit" value="Submit" class="btn btn-primary" />
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
        $(document).ready(function () {
            $("#question_paragraph").load("/Content/txt/@Session["paragraph"]");
        });
</script>

