@model English_Learning_Website.Models.Userz
@{
    ViewBag.Title = "Account";
    if (Session["User_Code"] != null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    if (Session["Admin_Code"] != null)
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
}
<style>
    .text-danger {
        color: red;
    }
</style>
@using (Html.BeginForm("Account", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="myleft">
            <input type="file" name="fileUpload" id="fileUpload" accept="images/*" style="display:none;" />
            <img src="~/Content/images/@Model.User_Image" id="pictureUpload" style="width: 275px; height: 275px; margin-top: 14.7%; border-radius: 50%; margin-left:25%" />
            <br />
            @Html.EditorFor(model => model.User_Image, "", new { htmlAttributes = new { @class = "form-control center-block", @placeholder = "Type string image ...", @style = "width:500px;height:200px;display:none;" } })
            <br />
            <p><input type="button" id="btnUpload" value="Choose Avatar" class="btn btn-success center-block"/></p>
            @section upload
    {
                <script>
                $(function () {
                    $('#btnUpload').click(function () {
                        $('#fileUpload').trigger('click');
                    });
                });
                $('#fileUpload').change(function () {
                    if (window.FormData !== undefined) {
                        var fileUpload = $('#fileUpload').get(0);
                        var files = fileUpload.files;
                        var formData = new FormData();
                        formData.append('file', files[0]);
                        $.ajax({
                            type: 'POST',
                            url: '/Home/ProcessUpload',
                            contentType: false,
                            processData: false,
                            data: formData,
                            success: function (urlImage) {
                                $('#pictureUpload').attr('src', "/Content/images/" + urlImage);
                                $('#User_Image').val(urlImage);
                            },
                            error: function (err) {
                                alert('Error', err.statusText);
                            }
                        });
                    }
                });
                </script>
            }
        </div>
        <div class="myright mydiv">
            <p><strong>Full Name : </strong> @Html.ValidationMessageFor(model => model.User_FullName, "", new { @class = "text-danger" })</p>
            @Html.EditorFor(model => model.User_FullName, "", new { htmlAttributes = new { @class = "form-control center-block", @placeholder = "Type your full name ...", @style = "width:100%;max-width:100%;", @maxlength = "35"} })
            <br />
            <p><strong>Gmail : </strong> @Html.ValidationMessageFor(model => model.User_Mail, "", new { @class = "text-danger" })<font style="color:red;">@ViewData["GmailFound"]</font></p>
            @Html.EditorFor(model => model.User_Mail, new { htmlAttributes = new { @class = "form-control center-block", @placeholder = "Type your gmail ...", @style = "width:100%;max-width:100%;", @maxlength = "30" } })
            <br />
            <p><strong>Phone Number : </strong> @Html.ValidationMessageFor(model => model.User_PhoneNumber, "", new { @class = "text-danger" })<font style="color:red;">@ViewData["PhoneNumberNotValid"]</font></p>
            @Html.EditorFor(model => model.User_PhoneNumber, new { htmlAttributes = new { @class = "form-control center-block", @placeholder = "Type your phone number ...", @style = "width:100%;max-width:100%;", @type = "number" } })
            <br />
            <p><strong>Gender : </strong> @Html.ValidationMessageFor(model => model.User_Gender, "", new { @class = "text-danger" })</p>
            <select id="User_Gender" name="User_Gender" class="form-control center-block" style="width:100%;max-width:100%;">
                <option for="User_Gender" id="User_Gender" name="User_Gender" selected>@Html.ValueFor(model => model.User_Gender)</option>
                <option for="User_Gender" id="User_Gender" name="User_Gender" value="Male">Male</option>
                <option for="User_Gender" id="User_Gender" name="User_Gender" value="Female">Female</option>
                <option for="User_Gender" id="User_Gender" name="User_Gender" value="Other">Other</option>
            </select>
            <br />
            <p><strong>Date of birth : </strong> @Html.ValidationMessageFor(model => model.User_Birthday, "", new { @class = "text-danger" })</p>
            @Html.EditorFor(model => model.User_Birthday, new { htmlAttributes = new { @class = "form-control center-block", @placeholder = "Type your birthday ...", @style = "width:100%;max-width:100%;", @maxlength = "30" } })
            <br />
            <p><input type="submit" name="Account" value="Save" class="btn btn-success" style="width: 100%;max-width:100%; border-radius: 16px;"/></p>
            <br />
            <p>@Html.ActionLink("Back", "HomePage", "Home", new { @class = "btn btn-default center-block", @style = "width:100%;max-width:100%;border-radius:16px;" })</p>
        </div>
    </div>
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>




