@model PagedList.IPagedList<English_Learning_Website.Models.Quiz>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "ListQuiz";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm("ListQuiz", "Quiz", FormMethod.Post))
{
    <br />
    <div>
        @Html.ActionLink("Create New", "CreateQ", "Quiz", new { @class = "btn btn-default" })
        <input type="submit" value="Go" class="btn btn-primary pull-right" style="width:50px;" />
        <input type="text" id="searchQuiz" name="searchQuiz" class="form-control pull-right" placeholder="Type keyword to search ..." value="@Session["searchQuiz"]" required />
        <label class="pull-right"> | </label>
        <select id="sortQuiz" name="sortQuiz" class="form-control center-block pull-right" style="width:10%;max-width:10%;">
            <option for="sortQuiz" id="sortQuiz" name="sortQuiz" value="@Session["sortQuiz"]">@Session["sortQuiz"]</option>
            <option for="sortQuiz" id="sortQuiz" name="sortQuiz" value="None">None</option>
            <option for="sortQuiz" id="sortQuiz" name="sortQuiz" value="AZ">A - Z</option>
            <option for="sortQuiz" id="sortQuiz" name="sortQuiz" value="ZA">Z - A</option>
        </select>
        <label class="pull-right">Sort by : </label>
    </div>
    <br />
    <hr />
    <table class="table-hover table table-responsive tr">
        <caption class="caption">Quiz List</caption>
        <tr>
            <th>Number</th>
            <th>Quiz Name</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="search-list">
                <td>@item.Quiz_Code</td>
                <td>@item.Quiz_Name</td>
                <td>
                    @Html.ActionLink("Edit", "EditQ", new { id = item.Quiz_Code }) |
                    @Html.ActionLink("Detail", "Do_DragDrop_Quiz", new { id = item.Quiz_Code }) |
                    @Html.ActionLink("Delete", "DeleteQ", new { id = item.Quiz_Code })
                </td>
            </tr>

        }
    </table>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <div>
        <div>
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
        </div>
        <div>
            @if (Session["searchQuiz"] != null)
            {
                @Html.PagedListPager(Model, page => Url.Action("ListQuiz", new { page = page, searchQuiz = Session["searchQuiz"], sortQuiz = Session["sortQuiz"] }))
            }
            else
            {
                @Html.PagedListPager(Model, page => Url.Action("ListQuiz", new { page = page }))
            }
        </div>
    </div>
}
