@model English_Learning_Website.Models.VocabularyBonus
@{
    ViewBag.Title = "EditV";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .text-danger {
        color: red;
    }
</style>
<h2>EditV</h2>
@using (Html.BeginForm("EditV", "Vocabulary", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="myleft">
            <input type="file" name="fileUpload" id="fileUpload" accept="images/*" style="display:none;" />
            <img src="~/Content/images/@Model.Vocabulary_Image" id="pictureUpload" style="width: 50%; height: 60%; margin-top: 14.7%; border-radius: 6px; margin-left:25%" alt="Vocabulary Image" />
            <br />
            @Html.EditorFor(model => model.Vocabulary_Image, "", new { htmlAttributes = new { @class = "form-control center-block", @placeholder = "Type image string ...", @style = "width:500px;height:200px;display:none;", @maxlength = "50" } })
            <br />
            <p><input type="button" id="btnUpload" value="Choose Image" class="btn btn-success center-block" /></p>
            @section upload
    {
                <script>
                    $(function () {
                        $('#btnUpload').click(function () {
                            $('#fileUpload').trigger('click');
                        });
                    });
                    $('#fileUpload').change(function () {
                        if (window.FormData !== undefined) {
                            var fileUpload = $('#fileUpload').get(0);
                            var files = fileUpload.files;
                            var formData = new FormData();
                            formData.append('file', files[0]);
                            $.ajax({
                                type: 'POST',
                                url: '/Vocabulary/ProcessUpload',
                                contentType: false,
                                processData: false,
                                data: formData,
                                success: function (urlImage) {
                                    $('#pictureUpload').attr('src', "/Content/images/" + urlImage);
                                    $('#Vocabulary_Image').val(urlImage);
                                },
                                error: function (err) {
                                    alert('Error', err.statusText);
                                }
                            });
                        }
                    });
                </script>
            }
        </div>
        <div class="myright mydiv">
            @Html.EditorFor(model => model.Vocabulary_Code, "", new { htmlAttributes = new { @class = "form-control center-block", @placeholder = "Type vocabulary english name ...", @style = "width:100%;max-width:100%;display:none;" } })
            <p><strong>English Name : </strong> @Html.ValidationMessageFor(model => model.Vocabulary_English, "", new { @class = "text-danger" })</p>
            @Html.EditorFor(model => model.Vocabulary_English, "", new { htmlAttributes = new { @class = "form-control center-block", @placeholder = "Type vocabulary english name ...", @style = "width:100%;max-width:100%;", @maxlength = "30" } })
            <br />
            <p><strong>Vietnamese Name : </strong> @Html.ValidationMessageFor(model => model.Vocabulary_Vietnamese, "", new { @class = "text-danger" })</p>
            @Html.EditorFor(model => model.Vocabulary_Vietnamese, new { htmlAttributes = new { @class = "form-control center-block", @placeholder = "Type vocabulary vietnamese name ...", @style = "width:100%;max-width:100%;", @maxlength = "30" } })
            <br />
            <p><strong>Pronunciation : </strong> @Html.ValidationMessageFor(model => model.Vocabulary_Pronunciation, "", new { @class = "text-danger" })</p>
            @Html.EditorFor(model => model.Vocabulary_Pronunciation, new { htmlAttributes = new { @class = "form-control center-block", @placeholder = "Type pronunciation ...", @style = "width:100%;max-width:100%;", @maxlength = "20" } })
            <br />
            <p><strong>Vocabulary Category : </strong> @Html.ValidationMessageFor(model => model.vocabulary_Types, "", new { @class = "text-danger" })</p>
            @Html.DropDownListFor(model => model.Vocabulary_Type_Code, new SelectList(Model.vocabulary_Types, "Vocabulary_Type_Code", "Vocabulary_Type_EN_Name"), "", new { @class = "form-control center-block pull-left", @style = "width:85%;max-width:100%;" }) <a href="#" class="btn btn-primary pull-right" data-toggle="modal" data-target="#create-category">Add</a>
            <br />
            <br />
            <br />
            <p>
                @Html.ActionLink("Back To List", "ListVocabulary", "Vocabulary", new { @class = "btn btn-default pull-left", @style = "width:48%;max-width:48%;border-radius:16px;" }) <input type="submit" name="EditV" value="Save" class="btn btn-success pull-right" style="width: 48%; max-width: 48%; border-radius: 16px; " />
            </p>
        </div>
    </div>

}
<div class="modal fade " id="create-category">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-group">
                    <h2 class="modal-title">Create new category<button type="button" class="close pull-right" data-dismiss="modal">x</button></h2>
                </div>
            </div>
            <div class="modal-body">
                <form id="create">
                    <p>
                        <strong>Category Name : </strong><font style="color:red;"> @ViewData["existed"]</font>
                    </p>
                    @Html.EditorFor(model => model.Vocabulary_Type_EN_Name, new { htmlAttributes = new { @class = "form-control center-block", @placeholder = "Type category name ...", @style = "width:100%;max-width:100%;", @maxlength = "20" } })
                </form>
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <p>
                        <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
                        <a href="#" class="btn btn-primary" id="btn-save">Add</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
@section add
                {
    <script>
        $(document).ready(function () {
            $("#btn-save").click(function () {
                var category = $("#create").serialize();
                $.ajax({
                    type: "POST",
                    url: "/Vocabulary/CreateVT",
                    data: category,
                    success: function () {
                        $(this).hide();
                    },
                    error: function () {
                        alert('This category already existed!');
                    }
                })
            })
        })
    </script>
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>


