@model English_Learning_Website.Models.Vocabulary
@{
    ViewBag.Title = "Speech";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>DetailV</h2>
<div class="thumbnail">
    <img src="~/Content/images/@Model.Vocabulary_Image" alt="Vocabulary Image" style="width:100px;height:100px;" />
</div>
<div class="text-center">
    <p><strong>English Name : </strong>@Html.ValueFor(model => model.Vocabulary_English)</p>
    <p><strong>Vietnamese Name : </strong>@Html.ValueFor(model => model.Vocabulary_Vietnamese)</p>
    <p><strong>Pronunciation : </strong>@Html.ValueFor(model => model.Vocabulary_Pronunciation) @Html.ActionLink("Voice", "Speech", new { id = Model.Vocabulary_Code }, new { @class = "btn btn-default" })</p>
    <p><strong>Description : </strong>@Html.ValueFor(model => model.Vocabulary_Description)</p>
</div>
<div>
    @Html.ActionLink("Back to List", "User_View", "Vocabulary", new { @class = "btn btn-default" })
</div>

