@model PagedList.IPagedList<English_Learning_Website.Models.Vocabulary>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "User_View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .pull-right {
        padding:5px;
    }
</style>
<h2>Learn Vocabulary</h2>
<br />
@using (Html.BeginForm("User_View", "Vocabulary", FormMethod.Get))
{
<div>

    <input type="submit" value="Go" class="btn btn-primary pull-right" style="width:50px;"/>
    <input type="text" id="searchVocabulary" name="searchVocabulary" class="form-control pull-right" placeholder="Type keyword to search ..." value="@Session["searchVocabulary"]" required />
    <label class="pull-right"> | </label>
    <select id="sortVocabulary" name="sortVocabulary" class="form-control center-block pull-right" style="width:10%;max-width:10%;">
        <option for="sortVocabulary" id="sortVocabulary" name="sortVocabulary" value="@Session["Vocabulary_Sort"]">@Session["Vocabulary_Sort"]</option>
        <option for="sortVocabulary" id="sortVocabulary" name="sortVocabulary" value="None">None</option>
        <option for="sortVocabulary" id="sortVocabulary" name="sortVocabulary" value="AZ">A - Z</option>
        <option for="sortVocabulary" id="sortVocabulary" name="sortVocabulary" value="ZA">Z - A</option>
    </select>
    <label class="pull-right">Sort by : </label>
</div>
<br />
<hr />
<p>Choose vocabulary type that you want to learn :</p>
<div>
    <a href="/Vocabulary/User_View" class="btn btn-default">Show All</a>
    @using English_Learning_Website.Models
    @{
        List<Vocabulary_Type> vocabularies = Session["Index"] as List<Vocabulary_Type>;
    }
    @foreach (var item in vocabularies)
    {
        <a href="/Vocabulary/User_View/@item.Vocabulary_Type_Code" class="btn btn-default">@item.Vocabulary_Type_EN_Name</a>
    }
</div>
<hr />
<div class="a2">
    @foreach (var item in Model)
    {
        <a href="/Vocabulary/DetailV/@item.Vocabulary_Code" style="color:white;">
            <div class="column" style="border-radius:0;">
                <div class="card">
                    <img src="~/Content/images/@item.Vocabulary_Image" alt="Vocabulary Image" style="width:100%;height:250px;" />
                    <h1 style="text-align:center;color:black;">@item.Vocabulary_English</h1>
                    <p style="color:gray;">/ @item.Vocabulary_Pronunciation /</p>
                    <p style="padding:10px;width:100%;background-color:#333333;color:white;font-size:14px;">Detail</p>
                </div>
            </div>
        </a>
    }
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<div>
    <div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    </div>
    <div>
        @if (Session["searchVocabulary"] != null)
        {
            @Html.PagedListPager(Model, page => Url.Action("User_View", new { page = page, searchVocabulary = Session["searchVocabulary"], sortVocabulary = Session["Vocabulary_Sort"] }))
        }
        else
        {
            @Html.PagedListPager(Model, page => Url.Action("User_View", new { page = page }))
        }
    </div>
</div>
}



