@model English_Learning_Website.Models.UserzBonus
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <title>Sign Up</title>
</head>
<body>
    @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post))
{
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="mydiv center-block" style="margin-top: 10%;">
        @Html.HiddenFor(model => model.User_Mail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Type your gmail ...", @maxlength = "30" } })
        <h4 style="text-align:center;">Change password for @Model.User_Mail</h4>
        <br />
        <p><strong>@Html.LabelFor(model => model.User_Password)</strong> @Html.ValidationMessageFor(model => model.User_Password, "", new { @class = "text-danger" })</p>
        <div class="input-group">
            @Html.EditorFor(model => model.User_Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Type new password ...", @maxlength = "10" } })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock "></i>
            </span>
        </div>
        <br />
        <p><strong>@Html.LabelFor(model => model.Check_Password)</strong><font style="color:red;"> @ViewData["NotEqual"]</font> @Html.ValidationMessageFor(model => model.Check_Password, "", new { @class = "text-danger" })</p>
        <div class="input-group">
            @Html.EditorFor(model => model.Check_Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Type new password ...", @maxlength = "10" } })
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock "></i>
            </span>
        </div>
        <br />
            <input type="checkbox" onclick="myfunction()" /> Show Password
        <br />
        <br />
        <input type="submit" name="ChangePassword" value="Confirm" class="btn btn-info" style="width:100%;max-width:100%;" />
        <br />
        <br />
    </div>
}
    <script>
        function myfunction() {
            var x = document.getElementById("Check_Password");
            var y = document.getElementById("User_Password");
            if (x.type == "password" && y.type == "password") {
                x.type = "text";
                y.type = "text";
            }
            else {
                x.type = "password";
                y.type = "password";
            }
        }
    </script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>

