@model English_Learning_Website.Models.UserzBonus
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    <title>Check Mail</title>
</head>
<body>
    @using (Html.BeginForm("CheckMail", "Login", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="parralax" style="height: 805.3px; color: aqua">
            <div class="mydiv pull-right" style="margin-top: 15%;">
                <p><strong>@Html.LabelFor(model => model.CheckMail)</strong><font style="color:red;"> @ViewData["Error"]</font> @Html.ValidationMessageFor(model => model.CheckMail, "", new { @class = "text-danger" })</p>
                <div class="input-group">
                    @Html.EditorFor(model => model.CheckMail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Type verification code ...", @maxlength = "6" } })
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock "></i>
                    </span>
                </div>
                <br />
                <input type="submit" name="CheckMail" value="Confirm" class="btn btn-info" style="width:100%;max-width:100%;" />
                <br />
                <br />
                <p>@Html.ActionLink("Back", "SendMail", "Login", new { @class = "btn btn-default center-block" })</p>
            </div>
        </div>
     }
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>

